In [90]:
#importing necessary pyphon libraries
import pandas as pd
import numpy as np

In [91]:
# uploading data from  a local directory
df = pd.read_csv(r'C:/Users/test/Documents/tochora/dd/language_detection.csv')
df.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [92]:
#shape of our dataset
df.shape
# our dataset has 22000 rows and 2 columns

(22000, 2)

In [93]:
# Top five texts in our dataset
df['Text'].value_counts().head(5)

haec commentatio automatice praeparata res astronomicas colligit excerptas e pagina [] sitús small-body database quem elaboraverunt nasa et jpl apud institutum technologiae californiense                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 48
இக்கோயில் முதன்மைத் திருக்கோயில் என்ற வகைப்பாட்டில் இந்து அறநிலையத்துறையின் கட்டுப்பாட்டில் உள்ளது பரம்பரை அல்லாத அறங்காவலர் அமைப்பால் நிர்வகிக்கப்படுகிறது                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                17
bisby fa roskov yr orrell tm nicolson d paglinawan le bailly n kirk pm bourgoin t baillargeon g ouvrard d red  "species   itis catalogue of life  annual checklist" species  reading uk diakses pada  september                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            12
seperti asteroid pada umumnya asteroid ini terbentuk dari nebula matahari primordial sebagai pecahan planetisimal sesuatu di nebula matahari muda yang tidak cukup besar untuk berubah menjadi planet                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       7
lévolution du nombre dhabitants est connue à travers les recensements de la population effectués dans la commune depuis  à partir de  les populations légales des communes sont publiées annuellement par linsee le recensement repose désormais sur une collecte dinformation annuelle concernant successivement tous les territoires communaux au cours dune période de cinq ans pour les communes de moins de   habitants une enquête de recensement portant sur toute la population est réalisée tous les cinq ans les populations légales des années intermédiaires étant quant à elles estimées par interpolation ou extrapolation pour la commune le premier recensement exhaustif entrant dans le cadre du nouveau dispositif a été réalisé en      7
Name: Text, dtype: int64

In [94]:
# 
df['language'].value_counts().head(7)#index[:7]

Estonian    1000
Swedish     1000
English     1000
Russian     1000
Romanian    1000
Persian     1000
Pushto      1000
Name: language, dtype: int64

In [95]:
# converting  words in text from proper case to lower case
df['language'] = df['language'].apply(lambda x: x.lower())
df.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  estonian
1  sebes joseph pereira thomas  på eng the jesuit...   swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     tamil
4  de spons behoort tot het geslacht haliclona en...     dutch

In [96]:
# splitting our data into traning and testing data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df['Text'], df['language'], test_size=0.32140000001, random_state=25551)

Bag of words

In [97]:

from sklearn.feature_extraction.text import  CountVectorizer, TfidfTransformer
# applying countvectorizer to map frequent words while it using stopwords to remove words like not,are and other related words
cv = CountVectorizer(stop_words='english')
x_traincv = cv.fit_transform(x_train)
x_testcv = cv.transform(x_test)
tfid = TfidfTransformer()
# applying Tfid Transformer to add weight to those words that are important in our text 
x_trainTf = tfid.fit_transform(x_traincv)

In [98]:
#modelling our data
from sklearn.linear_model import RidgeClassifier
rf = RidgeClassifier()
# fitiing our model
rf.fit(x_trainTf, y_train)
accuracy = rf.score(x_testcv, y_test)
print(accuracy)

0.9691698486776976

our model has an accuracy of 97%

In [99]:
# using our model to predict the language of the respective text in question
text = """this kids have been living in this village for almost a decade"""
text = [text]
textt = cv.transform(text)
pred = rf.predict(textt)
print(f'This language is {pred[0]}')

This language is english

In [100]:
# using our model to forecast what language this text is?
text = """saya tak faham di mana tandas"""
text = ['text']
textt = cv.transform(text)
pred = rf.predict(textt)
print(f" This {pred[0]} language")

 This indonesian language